<DOCTYPE !html>
<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <h1>Голосование</h1>
        <h2>{{ question.question_text }}</h2>

        <form action="/polls/make_vote/">
            <label>Выбери вариант ответа: </label><br/>

            {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice_{{ choice.pk }}" value="{{ choice.pk }}">
            <label for="choice_{{ choice.pk }}">{{ choice.choice_text }}</label><br/>
            {% endfor %}

            <input type=submit></input>
    </body>
</html>